.navbar {
  background-color: #f6f8fb;
  overflow: hidden;
  padding-left: 40px;
  padding-bottom: 10px;
  padding-top: 20px;
}

.navSep {
  opacity: 20%;
  background-color: #f6f8fb;
  border: none;
  color: black;
  font-weight: 600;
  padding: 15px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
}

.navButton {
  background-color: #f6f8fb;
  border: none;
  color: black;
  font-weight: 600;
  padding: 15px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}
